@font-face {
    src: url(../fonts/JFFlatregular.ttf);
    font-family: ar-font;
}

body {
    direction: rtl;
    font-family: ar-font;
    font-size: 15px;
    font-weight: 600;
}

/*page index*/

nav.navbar img {
    margin-right: 30px;
}

nav.navbar ul {
    margin-right: 25%;
}

nav.navbar ul li {
    margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: orangered;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: red;
    font-weight: bold;
    border-radius: 3px;
}

.shop-bag svg {
margin-right: 200px; 
font-size: 24px;
color: orange;
transition: all .3s ease;
}

.shop-bag svg:hover {
    color: orangered;
}

.navbar-toggler {
    background-color: orange;
    padding: 5px 10px;
}

.navbar-toggler span svg {
    color: black;
    margin-top: 2px;
    font-size: 25px;
}


#carousel-products {
    background-color: coral;
    height: 50vh;
}

#carousel-products .carousel-item img {
    height: 375px;
}

#carousel-products .product-details {
    border: 1px solid #c2c2ccbe;
    padding: 20px;
    position: relative;
    top: 125px;
    height: 200px;
    width: 450px;
    background-color: coral;
    border-radius: 3px;
}

#carousel-products .product-details .offres-1 {
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #c2c2ccbe;
    background-color: coral;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: -25px;
    right: -15px;
}

#carousel-products .product-details .custom-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#carousel-products .product-details a {
    font-weight: normal;
    font-size: 22px;
    text-decoration: none;
    border: 1px solid yellow;
    margin-top: 25px;
    transition: all .3s ease;
    background-color: yellow;
}

#carousel-products .product-details a button svg {
    margin-right: 20px;
    font-size: 20px;
}

#carousel-products .product-details a:hover {
    background-color: yellowgreen;
}

#carousel-products .product-details .larg {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    transform: rotate(-20deg);
    top: -25px;
    left: -15px;
}

.sale {
    background-color: teal;
    color: wheat;
    font-weight: bold;
    position: absolute;
}

.custom-carousel-indicators-primary {
    top: 298px;
    right: 35%;
}
.custom-carousel-indicators-primary img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid gray;
}

.custom-carousel-indicators-primary img.active {
    border-color: red;
}

.custom-carousel-control {
    font-size: 20px;
}

#store-features {
    background-color: rgba(247, 247, 247, 0.9);
    padding-bottom: 40px;
    padding-top: 15px;
    top: -35px;
    position: relative;
    box-shadow: 3px 2px 3px rgb(197, 197, 197);
    border-radius: 2px;

}

#store-features h3.custom-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

#store-features .feature p {
    font-weight: 600;
    margin-top: 10px;
}

.container h3.custom-heading-products {
    margin-top: 20px;
    margin-bottom: 30px;
}

.custom-thumbnail img {
    height: 250px;
    width: 100%;
}
#carousel-products-sold .custom-thumbnail {
    border-radius: 0;
    box-shadow: 3px 10px 8px rgba(211, 211, 211, 0.8);
    margin-bottom: 30px;
    cursor: pointer;
}

#carousel-products-sold .card-body h4 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#carousel-products-sold .card-body .price-product {
    font-size: 18px;
    margin-top: 10px;
    background-color: yellowgreen;
    padding: 5px 15px;
    border-radius: 3px;
    color: teal;
    font-weight: normal;
}

.rating {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #c2c2ccbe;
}

.rating .active {
    color: orange;
}

 .btn-add-to-card {
    background-color: palegreen;
    font-weight: bold;
    margin-top: 15px;
    transition: all .3s ease;
}

.btn-add-to-card:hover,
.btn-add-to-card:focus,
.btn-add-to-card:active {
    background-color: yellowgreen;
}

.btn-add-to-card svg {
    margin-right: 10px;
}

#swal2-title {
    font-size: 20px;
    font-weight: 600;
}

.custom-carousel-indicators {
    width: 100%;
    position: static;
    margin: 0;
    margin-right: -20px;
    margin-bottom: 20px;
}

.custom-carousel-indicators > li {
    height: 15px;
    width: 15px;
    background-color : orange;
    border-radius: 50%;
}

.custom-carousel-indicators > li.active {
    background-color: orangered;
} 

.testimonials {
    background-image: url(../images/ecommerce.jpg);
    background-position: center center;
    background-size: cover;
    height: 55vh;
}

.testimonials .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

#carousel-testimonials {
    background-color: rgba(0, 180, 180, 0.9);
    width: 50%;
    height: 45vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    position: relative;
    right: 25%;
    border-radius: 5px;
    margin-bottom: 45px;
    margin-top: 50px;
}

#carousel-testimonials img {
   margin-top: 35px;
   margin-bottom: 30px;
   width: 100px;
}

#carousel-testimonials h5.name-person {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

#carousel-testimonials p.comments {
    margin-top: 35px;
    font-size: 24px;
    font-weight: 500;
    color: wheat;
}

.custom-haeding-rating {
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
}

figure .rating {
    margin-top: 10px;
    color: rgb(100, 100, 100);
}

figure .rating .active {
    color: orange;
}

#carousel-testimonials span svg {
    font-size: 30px;
    color: orangered;
}

footer {
    background-color: #000000ee;
}

.contacts-and-social {
    background-image: url(../images/puzzle.png);
    background-position: center center;
    background-size: cover; 
}

footer form.form {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 35px;
}

footer .custom-heading {
    font-size: 22px;
    font-weight: 600;
    color: wheat;
    margin-top: 25px;
    margin-bottom: 25px;
}

form.form label {
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-top: 1px solid #c2c2cc9d;
    margin-bottom: 20px;
    padding-top: 20px;
}

form.form input:focus, form.form input:active {
    border-color: orangered;
}

form.form input {
    border-radius: 0;
}

form.form button.btn-primary {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

form button.btn-primary {
    border: 1px solid orangered;
    background-color: orangered;
}

form .btn-primary:hover {
    border: 1px solid orange;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: orange;
    color: black;
    font-weight: 600;
}

.list-group {
    border-top: 1px solid #c2c2cc9d;
    padding-top: 20px;
} 

.list-group li {
    background-color: transparent;
}

.list-group li a {
    text-decoration: none;
    color: orange;
    font-weight: normal;
    font-size: 16px;
    transition: all .3s ease;
}

.list-group li a:hover {
    color: orangered;
}

.payments h4.custom-heading-payments {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    color: palegoldenrod;
}

#footer-last-social-copyright {
    background-color: #1a1a1afb;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

#footer-last-social-copyright h4.text-copyright {
    font-weight: normal;
    font-size: 18px;
    color: orangered;
}

#footer-last-social-copyright ul li {
    margin-right: 0;
    margin-left: 10px;
    font-size: 20px;
    background-color: orange;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    transition: all .3s ease;
}

#footer-last-social-copyright ul li:hover {
    background-color: orangered;
}

#footer-last-social-copyright ul li a {
    text-decoration: none;
    color: black;
}

#footer-last-social-copyright ul li a:hover {
    color: whitesmoke;
}


/*****************
******************
******************

Page Product.html

*****************
*****************
*****************/

nav ol.breadcrumb {
    background-color: #c2c2cc4d;
}

nav li.breadcrumb-item a {
    text-decoration: none;
    color: teal;
    font-size: 13px;
    margin-right: 5px;
}

nav li.breadcrumb-item.active {
    font-size: 13px;
}

nav li.breadcrumb-item.active span{
    margin-right: 8px;
}

#slide-products-details {
    position: relative;
}

#slide-products-details .carousel-item img {
    height: 400px;
    margin-bottom: 40px;
    border: 1px solid gray;
}

#slide-products-details .carousel-indicators {
    position: absolute;
    margin-top: 75px;
    right: -6%;
}

.custom-heading-product {
    font-size: 16px;
    font-weight: bold;
}

.title-product {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    border-top: 1px solid rgba(128, 128, 128, 0.6);
    padding-top: 15px;
}

.price-product {
    font-weight: normal;
    margin-top: 15px;
    padding-top: 15px;
    background-color: teal;
    padding: 8px 10px;
    border-radius: 5px;
    color: wheat;
}

.text-product {
    margin-top: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.6);
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

h5.color, h5.size {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    border-top: 1px solid rgba(128, 128, 128, 0.6);
    padding-top: 15px;
}


.size input[type="radio"], .color input[type="radio"] {
    display: none;
}

.size label {
    margin-left: 15px;
    border: 1px solid yellowgreen;
    padding: 5px 10px;
    border-radius: 50%;
}

.size label.active {
    border-color: red;
} 

.size label:hover {
    cursor: pointer;
}

.color label {
    padding: 7px 15px;
    margin-left: 15px;
    border-radius: 50%;
    border: 1px solid gray;
}

.color label.active {
    border-color: red;
}

.color label:hover {
    cursor: pointer;
}

.the-required-number h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    padding-top: 15px;
}

.the-required-number .custom-form-control {
    width: 20%;
    border-color: green;
    margin-bottom: 15px;
}

.the-required-number .custom-form-control:focus {
    border-color: orange;
}

.custom-btn-add2 {
    margin-bottom: 25px;
}

.description-products h4 {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 15px;
    display: inline-block;
}

.description-products p {
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}

.description-products ul {
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 20px;
}
.description-products ul li {
    font-size: 15px;
    font-weight: normal;
}

/**** comments *******/

.custom-heading-comments {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 20px;
    display: inline-block;
}

.custom-card {
    padding: 15px 30px;
    margin-bottom: 45px;
}

.custom-card .image img {
    width: 65%;
}

.meta .title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
}

.meta .title a {
    text-decoration: none;
    color: orangered;
    transition: all .3s ease;
}

.meta .title a:hover {
    color: orange;
}

h6.time {
    font-size: 13px;
    font-weight: normal;
}

.post-description {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}

h4.suggestions {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 15px;
    display: inline-block;
}


/************
*****************
**********************
****************************

page products-search.html

*******************************
***********************
********************/

#filter-resultas {
    position: relative;
}

#filter-resultas .filter-type .title-filter {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 25px;
}

#filter-resultas .custom-list-group {
    border-top: none;
    margin-bottom: 25px;

}

#filter-resultas .custom-list-group li {
    font-weight: bold;
    font-size: 14px;
}

#filter-resultas .custom-list-group li span {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    color: wheat;
}

#filter-resultas .title-filter-price {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 5px;
}


#filter-resultas .price-min-and-max span {
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 50px;
}

.ui-slider {
    margin-top: 10px;
    background-color: teal;
    border: 2px solid gray;
    position: relative;
    height: 10px;
}

.ui-widget-header {
    background-color: teal;
}

.ui-slider .ui-slider-handle {
    background-color: rgb(31, 31, 31);
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: -3.5px;
}

.ui-slider .ui-slider-handle:hover {
    cursor: pointer;
}

.search-sumbit {
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-right: 45%;
    transition: all 0.3s ease;
    
} 

.search-sumbit:hover,
.search-sumbit:active,
.search-sumbit:focus {
    background-color: orange;
    color: black;
}


/********** PAGE research-results *********/

.just-text {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgba(128, 128, 128, 0.6);
    padding-bottom: 15px;
    display: inline-block;
}

nav.pagination {
    position: relative;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 3px;
}

nav.pagination ul {
    margin-right: 35%;
}

nav.pagination ul li{
    margin-left: 5px;
}

nav.pagination ul li a {
    border: 1px solid gray;
    border-radius: 3px;
    text-decoration: none;
    color: orangered;
    transition: all 0.2s ease;
}

nav.pagination ul li a:hover {
    background-color: #fff;
    color: orange;
}

/*****************
*******************
********************

Responsive Page index.html

***********************
***********************
************************/

@media(min-width: 1200px) and (max-width: 1250px) {

    nav.navbar ul li {
        margin-right: 18px;
    }

    #carousel-products-sold .card-body h4 {
        font-size: 23px;
        font-weight: normal;
    }

    .custom-thumbnail img {
        height: 225px;
    }

    #carousel-testimonials p.comments {
        margin-top: 20px;
        font-size: 20px;
        font-weight: normal;
    }

    .payments img {
        width: 100%;
    }

    /***** page products ******/

    #slide-products-details .carousel-indicators {
        right: -6%;
    }

    button.btn.custom-btn-add2.btn-add-to-card {
        float: left;
        margin-top: -50px;
        margin-bottom: 50px;
    }    
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /*** page index ****/
    .shop-bag svg {
        margin: 0;
        font-size: 25px;
    }

    nav a.nav-link {
        font-size: 15px;
        font-weight: 600;
    }

    .custom-carousel-indicators-primary {
        right: 30%;
    }

    #carousel-testimonials {
        width: 80%;
        height: 44vh;
        right: 8%;
    }

    .payments img {
        margin-right: 5px;
        width: 100%;
        max-width: 100%;
    }

    .btn-add-to-card {
        font-weight: normal;
    }

    #carousel-products .carousel-item img {
        height: 350px;
        margin-right: -90px;
    }

    #carousel-products .product-details {
        width: 360px;
        right: -35px;
    }

    /**** page products *****/
    nav.navbar ul {
        margin-right: 10%;
    }

    svg.svg-inline--fa.fa-shopping-bag.fa-w-14 {
        margin-right: 100px;
    }

    #carousel-products-sold .card-body h4 {
        font-size: 18px;
        font-weight: bold;
    }

    #carousel-products-sold .card-body .price-product {
        font-size: 15px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    #slide-products-details .carousel-item img {
        margin-right: 30%;
    }

    #slide-products-details .carousel-indicators {
        right: 21%;
    }

    .custom-heading-product {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .the-required-number .custom-form-control {
        width: 15%;
    }

    button.btn.custom-btn-add2.btn-add-to-card {
        float: left;
    margin-top: -50px;
    margin-bottom: 50px;
    }

    span.float-right {
        font-weight: 600;
    }

    .payments h4.custom-heading-payments {
        font-weight: 500;
    }

    footer .custom-heading {
        font-size: 20px;
        font-weight: 500;
    }

    /************** research-results.html ******************/

    nav.pagination ul {
        margin-right: 29%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    nav.navbar ul {
        padding: 0;
        margin: 0;
    }

    .shop-bag svg{
        margin-right: 0;
    }

    #carousel-testimonials {
        width: 75%;
        margin-right: -105px;
    }

    .btn-add-to-card {
        float: left;
    }

    #carousel-products .carousel-item img {
        height: 280px;
        margin-top: 40px;
    }

    #carousel-products .product-details {
        width: 310px;
        right: -60px;
        top: 100px;
        height: 180px;
    }

    .custom-carousel-indicators-primary {
        display: none;
    }

    .custom-carousel-control {
        font-size: 15px;
    }

    #footer-last-social-copyright h4.text-copyright {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .payments img {
        margin-right: 0;
        width: 100%;
    }

    #footer-last-social-copyright ul li {
        font-size: 16px;
        height: 25px;
        width: 25px;
        line-height: 25px;
    }

    /**** page products *****/

    button.btn.custom-btn-add2.btn-add-to-card {
        margin-top: -50px;
    }

    footer .custom-heading {
        font-size: 20px;
        font-weight: 500;
    }

    .payments h4.custom-heading-payments {
        font-weight: 500;
    }

    #slide-products-details .carousel-item img {
        margin-right: 150px;
    }

    #slide-products-details .carousel-indicators {
        right: 15%;
    }

    .custom-heading-product {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /**** products-search.html *******/
    
    .search-sumbit {
        margin-left: 39%;
    }

    /********** research-results ***********/

    .custom-heading-1X {
        font-size: 17px;
        font-weight: normal;
    }

    #carousel-products-sold .card-body .price-product {
        padding: 3px 6px;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background-color: tomato;
    }

    nav.pagination ul {
        margin-right: 24%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    nav.navbar ul {
        padding: 0;
        margin: 0;
    }

    .shop-bag svg{
        margin-right: 0;
    }

    #carousel-products .product-details {
        display: none;
    }

    #carousel-products .carousel-item img {
        height: 320px;
        margin-right: 120px;
    }

    #carousel-testimonials {
        width: 95%;
        right: 3%;
    }

    #footer-last-social-copyright h4.text-copyright {
        margin-right: 140px;
        font-size: 16px;
    }

    .payments img {
        margin-right: 0;
        width: 100%;
    }

    .payments h4.custom-heading-payments {
        font-weight: normal;
        font-size: 17px;
    }

    
    #footer-last-social-copyright ul {
        margin-left: 135px;
        margin-top: 10px;
    }

    #footer-last-social-copyright ul li {
        font-size: 15px;
        background-color: orange;
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

    #slide-products-details .carousel-item img {
        margin-right: 11%;
    }

    #slide-products-details .carousel-indicators {
        right: 7%;
    }

    .custom-heading-product {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    button.btn.custom-btn-add2.btn-add-to-card {
        float: left;
        margin-top: -50px;
        margin-bottom: 50px;
    }

    button.btn.custom-btn.btn-add-to-card {
        float: left;
    }

    footer .custom-heading {
        font-size: 20px;
        font-weight: 500;
    }

    /****** page products-search ********/

    .search-sumbit {
        margin-left: 39%;
        margin-right: 41%;
    }

    /************* research-results ***************/

    nav.pagination ul {
        margin-right: 10%;
    }
}

@media(min-width: 320px) and (max-width: 575.98px) {

    #carousel-products {
        height: 38vh;
    }

    .custom-carousel-control {
        display: none;
    }

    #carousel-products .carousel-item img {
        margin-right: 0px;
        height: 280px;
    }

    #carousel-testimonials {
        width: 80%;
        right: 10%;
    }

    #carousel-testimonials p.comments, 
    #carousel-testimonials h5.name-person,
    .custom-haeding-rating {
        font-size: 15px;
        font-weight: normal;
    }

    #carousel-testimonials span svg {
        display: none;
    }

    footer .custom-heading {
        font-size: 16px;
    }

    form.form label {
        font-size: 15px;
        font-weight: 600;
    }

    .list-group li a {
        font-size: 15px;
        font-weight: 600;
    }

    .payments h4.custom-heading-payments {
        font-size: 14px;
        font-weight: normal;
    }

    #footer-last-social-copyright h4.text-copyright {
        margin-right: 0;
        font-size: 14px;
        font-weight: 600;
    }

    ul.list-inline {
        margin-right: -25%;
        margin-top: 15px;
    }

    #footer-last-social-copyright ul li {
        font-size: 15px;
        height: 25px;
        width: 25px;
        line-height: 25px;
    }

    .payments img {
        margin-right: 0;
        width: 100%;
    }

    .btn-add-to-card {
        float: left;
    }

    #carousel-products .product-details {
        display: none;
    }

    .custom-carousel-indicators-primary {
        display: none;
    }

    .shop-bag svg {
        margin-right: 0;
    }

    #carousel-testimonials p.comments {
        font-size: 15px;
        font-weight: normal;
    }

    .list-group li a {
        font-weight: normal;
    }

    nav.navbar ul {
        padding: 0;
        margin: 0;
        background-color: transparent;
    }

    #carousel-testimonials .carousel-item .img-user {
        width: 30%;
        margin-top: 12px;
    }

    #store-features h3.custom-heading {
        font-size: 18px;
        font-weight: 600;
    }

    #carousel-testimonials h5.name-person,
    h5.name-person {
        margin-bottom: -15px;
    }

    .custom-haeding-rating {
        margin-top: -10px;
    }

    /****** page products *********/

    #slide-products-details .carousel-item img {
        height: 250px;
    }

    .custom-carousel-indicators-primary img {
        width: 35px;
        height: 35px;
    }

    #slide-products-details .carousel-indicators {
        right: -11%;
        top: 53%;
    }

    .custom-heading-product {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .title-product, .text-product {
        font-size: 15px;
    }

    .price-product {
        font-weight: 500;
        margin-top: 25px;
        padding: 5px 10px;
        font-size: 16px;
    }

    .float-left.color {
        margin-left: 55%;
        margin-top: 15px;
    }

    .custom-card .image img {
        width: 60%;
    }

    .meta .title {
        font-size: 13px;
        font-weight: bold;
    }

    .post-description {
        font-size: 14px;
    }

    #carousel-products-sold .card-body h4 {
        font-size: 18px;
        font-weight: 600;
    }

    button.btn.custom-btn.btn-add-to-card {
        margin-top: 40px;
    }

    /****** page products-saerch **********/

    .search-sumbit {
        margin-left: 31%;
        margin-right: 20%;
    }

    button.btn.custom-btn.btn-add-to-card.search-sumbit {
        margin-top: 0;
    }

    /************* research-results ******************/

    .devices-col {
        display: none;
    }

    nav.pagination ul {
        margin-right: 9%;
    }
}